---
import { getCollection } from "astro:content";
import Layout from "../../layouts/docs.astro";
import EditIcon from "../../components/icons/edit.astro";

export async function getStaticPaths() {
  const docEntries = await getCollection("docs");
  return docEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

const editUrl = `https://github.com/ToastedDev/gitrover/edit/main/web/src/content/docs/${entry.id}`;
---

<Layout title={entry.data.title} slug={entry.slug} {headings}>
  <div class="mb-5 flex flex-col gap-2">
    <h1 class="text-3xl font-bold">{entry.data.title}</h1>
    <div class="flex items-center gap-2 text-sm text-orange-600">
      <a
        href={editUrl}
        target="_blank"
        class="flex items-center gap-1 hover:underline"
      >
        <EditIcon class="h-4 w-4" /> Edit this page
      </a>
    </div>
  </div>
  <article class="markdown">
    <Content />
  </article>
</Layout>
