---
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import type { MarkdownHeading } from "astro";

interface Props {
  slug: string;
  headings: MarkdownHeading[];
}

const pages = await getCollection("docs");
const allCategories = await getCollection("category");
const { headings, slug } = Astro.props;

function categorize(pages: CollectionEntry<"docs">[]): {
  category: CollectionEntry<"category"> | undefined;
  pages: CollectionEntry<"docs">[];
}[] {
  const categories = [...new Set(pages.map((page) => page.data.category?.id))];
  return categories.reduce(
    (acc, category) => {
      const _pages = pages.filter(
        (page) => page.data.category?.id === category,
      );
      const categoryEntry = allCategories.find((c) => c.id === category);
      return [...acc, { category: categoryEntry, pages: _pages }];
    },
    [] as unknown as {
      category: CollectionEntry<"category"> | undefined;
      pages: CollectionEntry<"docs">[];
    }[],
  );
}

const basePadding = 14;
---

<ul class="flex w-full flex-col gap-2">
  {
    categorize(pages)
      .sort((a, b) =>
        !a.category
          ? -100
          : !b.category
            ? 100
            : a.category.data.sort
              ? a.category.data.sort
              : b.category.data.sort
                ? -b.category.data.sort
                : a.category.data.name.localeCompare(b.category.data.name),
      )
      .map(async (category) => (
        <li class="flex flex-col gap-1.5">
          {category.category && (
            <p class="text-xs uppercase text-orange-700">
              {category.category.data.name}
            </p>
          )}
          <div>
            {category.pages
              .sort((a, b) =>
                a.data.sort
                  ? a.data.sort
                  : b.data.sort
                    ? -b.data.sort
                    : a.data.title.localeCompare(b.data.title),
              )
              .map((page) => (
                <div>
                  <a
                    href={
                      page.slug === "introduction"
                        ? `/docs`
                        : `/docs/${page.slug}`
                    }
                    class:list={[
                      "inline-block w-full border-l-[1.5px] py-[1px] hover:text-orange-600 hover:underline",
                      page.slug === slug
                        ? "border-orange-600 font-semibold"
                        : "border-orange-900 hover:border-orange-600",
                    ]}
                    style={{ paddingLeft: `${basePadding}px` }}
                  >
                    {page.data.title}
                  </a>
                  {page.slug === slug && (
                    <div class="text-sm">
                      {headings.map((heading) => (
                        <a
                          href={`#${heading.slug}`}
                          class="inline-block w-full border-l-[1.5px] border-orange-900 py-[1px] data-[active=true]:border-orange-600 data-[active=true]:text-orange-600 hover:border-orange-600 hover:text-orange-600 hover:underline"
                          style={{
                            paddingLeft: `${basePadding * heading.depth}px`,
                          }}
                        >
                          {heading.text}
                        </a>
                      ))}
                    </div>
                  )}
                </div>
              ))}
          </div>
        </li>
      ))
  }
</ul>
