---
import colors from "tailwindcss/colors";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const seoTitle = title ? `${title} — GitRover` : "GitRover";
const description = "The better GitHub CLI.";
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{seoTitle}</title>
  <meta name="description" content={description} />
  <meta name="theme-color" content={colors.orange[600]} />
  <meta property="og:title" content={seoTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content="https://gr.toasted.dev" />
  <meta property="og:image" content="https://gr.toasted.dev/logo.png" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@ToastedDev" />
  <meta name="twitter:creator:id" content="1145171094556426240" />
  <meta name="twitter:title" content={seoTitle} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content="https://gr.toasted.dev/logo.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
